// Use the gear_dropdown.png screenshot as a style guide
.gear-dropdown{
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #fff;
  border: 1px;
  z-index: 1;
}

.gear-dropdown .editions {

}

.gear-dropdown .help {

}